In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random


from sklearn.model_selection import train_test_split

In [4]:
dtype={'id': np.dtype(int),
    'click': np.dtype(int),
    'hour': np.dtype(str),
    'C1': np.dtype(str),
    'banner_pos': np.dtype(str),
    'site_id': np.dtype(str),
    'site_domain': np.dtype(str), 
    'site_category': np.dtype(str),
    'app_id': np.dtype(str),
    'app_domain': np.dtype(str),
    'app_category': np.dtype(str),
    'device_id': np.dtype(str),
    'device_ip': np.dtype(str),
    'device_model': np.dtype(str),
    'device_type': np.dtype(str),
    'device_conn_type': np.dtype(str),
    'C14': np.dtype(str),
    'C15': np.dtype(str),
    'C16': np.dtype(str),
    'C17': np.dtype(str),
    'C18': np.dtype(str),
    'C19': np.dtype(str),
    'C20': np.dtype(str),
    'C21':np.dtype(str),
    'hour_of_day': np.dtype(str),
    'day_of_week': np.dtype(str),
      }#

In [5]:
df = pd.read_csv('/Users/fatmaoztel/Desktop/avazu-ctr-prediction/adjusted_dataset.csv',dtype=dtype,)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                10000 non-null  uint64
 1   click             10000 non-null  int64
 2   hour              10000 non-null  object
 3   C1                10000 non-null  object
 4   banner_pos        10000 non-null  object
 5   site_id           10000 non-null  object
 6   site_domain       10000 non-null  object
 7   site_category     10000 non-null  object
 8   app_id            10000 non-null  object
 9   app_domain        10000 non-null  object
 10  app_category      10000 non-null  object
 11  device_id         10000 non-null  object
 12  device_ip         10000 non-null  object
 13  device_model      10000 non-null  object
 14  device_type       10000 non-null  object
 15  device_conn_type  10000 non-null  object
 16  C14               10000 non-null  object
 17  C15               10000 non-null  object
 18  C16               10000 non-null  object
 19  C17               10000 non-null  object
 20  C18               10000 non-null  object
 21  C19               10000 non-null  object
 22  C20               10000 non-null  object
 23  C21               10000 non-null  object
 24  hour_of_day       10000 non-null  object
 25  day_of_week       10000 non-null  object
dtypes: int64(1), object(24), uint64(1)
memory usage: 2.0+ MB

In [6]:
df.drop(columns=["id", "hour"], inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   click             10000 non-null  int64
 1   C1                10000 non-null  object
 2   banner_pos        10000 non-null  object
 3   site_id           10000 non-null  object
 4   site_domain       10000 non-null  object
 5   site_category     10000 non-null  object
 6   app_id            10000 non-null  object
 7   app_domain        10000 non-null  object
 8   app_category      10000 non-null  object
 9   device_id         10000 non-null  object
 10  device_ip         10000 non-null  object
 11  device_model      10000 non-null  object
 12  device_type       10000 non-null  object
 13  device_conn_type  10000 non-null  object
 14  C14               10000 non-null  object
 15  C15               10000 non-null  object
 16  C16               10000 non-null  object
 17  C17               10000 non-null  object
 18  C18               10000 non-null  object
 19  C19               10000 non-null  object
 20  C20               10000 non-null  object
 21  C21               10000 non-null  object
 22  hour_of_day       10000 non-null  object
 23  day_of_week       10000 non-null  object
dtypes: int64(1), object(23)
memory usage: 1.8+ MB

In [9]:
X=df.drop(['click'],axis=1)
y=df['click']
X

,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,...,C14,C15,C16,C17,C18,C19,C20,C21,hour_of_day,day_of_week
0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,431b3174,...,15704,320,50,1722,0,35,-1,79,0,Tuesday
1,1005,0,3695113d,8a9459c0,3e814130,ecad2386,7801e8d9,07d7df22,a99f214a,e7ab261c,...,20366,320,50,2333,0,39,100103,157,0,Tuesday
2,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,07d7df22,a99f214a,d0aa00c7,...,20352,320,50,2333,0,39,-1,157,0,Tuesday
3,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,ef85aaad,...,15705,320,50,1722,0,35,100084,79,0,Tuesday
4,1005,0,85f751fd,c4e18dd6,50e219e0,1779deee,2347f47a,f95efa07,a99f214a,ba92cd0f,...,20596,320,50,2161,0,35,-1,157,0,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1005,0,85f751fd,c4e18dd6,50e219e0,febd1138,82e27996,0f2161f8,a99f214a,8f642135,...,21611,320,50,2480,3,299,100111,61,23,Thursday
9996,1005,0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,f95efa07,a99f214a,d30e5a48,...,23161,320,50,2667,0,47,-1,221,23,Thursday
9997,1005,0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,f95efa07,a99f214a,9cf8ab70,...,23160,320,50,2667,0,47,-1,221,23,Thursday
9998,1005,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,10dcdfb1,...,23723,320,50,2716,3,47,-1,23,23,Thursday
9999,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,372c853c,...,22257,320,50,2545,0,431,100084,221,23,Thursday

Accuracy is checked on the validation dataset, which has data in the same format as in the training dataset, but it is only used for evaluating the quality of training (it is not used for training).

CatBoost is based on gradient boosted decision trees. During training, a set of decision trees is built consecutively. Each successive tree is built with reduced loss compared to the previous trees.*

- *https://catboost.ai/en/docs/concepts/algorithm-main-stages*

In [10]:

# X: Features, y: Target variable
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.2, random_state=42) # 80% train
X_valid, X_test, y_valid, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42) # 10% test, 10% valid

In [11]:
X_train

,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,...,C14,C15,C16,C17,C18,C19,C20,C21,hour_of_day,day_of_week
9254,1005,0,85f751fd,c4e18dd6,50e219e0,1cc958a2,2347f47a,f95efa07,a99f214a,2022a4c8,...,23804,320,50,2726,3,803,100148,229,5,Thursday
1561,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,a4afe726,...,15702,320,50,1722,0,35,-1,79,10,Wednesday
1670,1005,0,85f751fd,c4e18dd6,50e219e0,e9739828,df32afa9,cef3e649,a99f214a,fe75d0c7,...,21769,320,50,2507,0,35,-1,157,11,Wednesday
6087,1005,0,93eaba74,7687a86e,3e814130,ecad2386,7801e8d9,07d7df22,a99f214a,26b8bb1b,...,17654,300,250,1994,2,39,-1,33,6,Monday
6669,1005,1,856e6d3f,58a89a43,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,ab39bdf7,...,19772,320,50,2227,0,935,-1,48,22,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,1005,0,85f751fd,c4e18dd6,50e219e0,090d3a47,0654b444,0f2161f8,a99f214a,b4b35bee,...,17212,320,50,1887,3,39,100194,23,17,Sunday
5191,1005,1,178a7b89,b4598159,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,7ab43b94,...,19771,320,50,2227,0,679,100081,48,7,Sunday
5390,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,0fa21480,...,15706,320,50,1722,0,35,-1,79,11,Sunday
860,1005,0,85f751fd,c4e18dd6,50e219e0,2d869bee,d9b5648e,0f2161f8,a99f214a,1ca2d148,...,20751,320,50,1895,0,681,100028,101,19,Tuesday
7270,1005,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,07d7df22,a99f214a,0be07df1,...,17264,320,50,1872,3,39,-1,23,11,Tuesday

In [14]:
y_train

9254    0
1561    1
1670    0
6087    0
6669    0
       ..
5734    0
5191    0
5390    0
860     0
7270    0
Name: click, Length: 8000, dtype: int64